@model IEnumerable<ProjetSIM.Models.Utilisateur>

@{
    ViewBag.Title = "Test";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p></p>
@{
    foreach (var item in Model)
    {
        @item.nomUtilisateur <br>
        @item.motDePasse <br>

    }
}
